PORT=3000
MONGODB_URI=mongodb://localhost:27017/content_db
DB_NAME=content_db
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
LOCAL_STORAGE_PATH=./uploads
OPENAI_API_KEY=sk-REPLACE_THIS_WITH_YOUR_KEY
EMBEDDING_MODEL=text-embedding-3-small
LLM_MODEL=gpt-4o-mini     # change to whichever model you use, e.g., gpt-4o, gpt-4o-mini or text-bison
CHUNK_SIZE=800
CHUNK_OVERLAP=200
